.about{
    background: #1ABC9C;
    color: #fff;
    padding: 100px 0px;
    line-height: 2;
}
.about .container h1{
    font-size: 38px;
    font-weight: 800;
    text-transform: uppercase;
}
.about .container p{
    text-transform: capitalize;
}
.about .info{
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 17px;
}
.about .info p{
    padding: 20px 100px;
}
.about h1{
    text-align: center;
}
.about i{
   display: flex;
   justify-content: center;
   align-items: center;
}