@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
.active{
    background-color: #1ABC9C;
    width: 150px;
    border-radius: 12px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}